@import url('../assets/fonts/PesaroFont/pesaro.css');
@import url('../assets/fonts/JaneAust/JaneAust.css');
@import url('../assets/fonts/AspiraFont/aspira.css');

html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: 'Pesaro-Light', Arial, sans-serif;
} 

section {
	border: 1px solid #000;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .5);
	max-width: 750px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* Header section */
header {
	display: flex;
	flex-direction: column;	
	@media screen and (min-width: 650px) {
		flex-direction: row;
		overflow: hidden;
	}

	h1 {
		text-align: center;
		font-size: 5rem;
		margin: 0;padding: 0;
		margin-top: 40px;
		line-height: 0.8;
		@media screen and (min-width: 550px) {
			text-align: right;
			flex-grow: 0;
			font-size: 13rem;
			margin-right: 40px;
			margin-bottom: 15px;
		}
		@media screen and (min-width: 650px) {
			order: 2;
		}
	}

	h2 {
		margin: 0;
		font-family: 'Aspira';
		text-transform: uppercase;
		border: 1px solid currentcolor;
		border-right: 0; border-left: 0;
		font-size: 2.1rem;
		padding: 1.5rem 0;
		text-align: center;

		@media screen and (min-width: 650px) {
			width: 270px;
			align-self: center;
		}
		@media screen and (min-width: 750px) {
			margin-left: 1rem;
		}
	}
}

/* Main section */
main {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 550px) {
		flex-direction: row;
	}


	h1#issue-info {
		position: relative;
		align-self: flex-end;
		z-index: 10;
		width: 100%;
		color: hsl(0,0%,67%);
		text-transform: uppercase;
		font-weight: lighter;
		font-size: 1.8rem;
		margin-right: 1.4rem;
		word-spacing: 1rem;
		text-align: right;
		#issue {
			sup { font-size: 50%; }
			#period { 
				display: none; 
				@media screen and (min-width: 550px){
					display: inline;
				}
				
			}
		}

		@media screen and (min-width: 550px) {
			align-self: flex-start;
			font-size: 4rem;
			font-weight: bold;
			width: 25%;
			#volume {
				position: absolute;
				// display: block;
				font-size: 8.5rem;
				transform: rotateZ(-90deg);
				top: 13rem;left: -11rem;
			}
			#issue {
				position: absolute;
				top: 36rem;
				left: 3rem;
			}
		}
	}

	figure {
		font-family: 'JaneAusten';
		align-self: center;
		position: relative;
		img {
			display: block;
			margin: 0 auto;
			width: 60%;
			margin-top: -6rem;
			@media screen and (min-width: 550px) {
				margin: 0;
				width: 80%;
			}
			@media screen and (min-width: 750px) {
				width: 90%;
			}
		}

		figcaption {
			color: hsl(38, 15%, 73%);		
			display: none;

			 @media screen and (min-width: 550px) {
			 	display: block;
				font-size: 1.9rem;
			 	margin-left: -10rem;
			} 

			@media screen and (min-width: 750px) {
				position: absolute;
				transform: rotateZ(-90deg);
				width: 200%;
				top: 15rem; left: 15rem;
			}
		}
	}
}

/* Footer section */
footer {
	font-family: 'Aspira';
	border-top: 1px solid #000;
	padding: 1rem 0;
	margin-top: 1rem;
	time {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-weight: lighter;
	}
}