@font-face {
    font-family: 'JaneAusten';
    src: url('webfonts/JaneAusten.woff2') format('woff2'),
        url('webfonts/JaneAusten.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

